#head1 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    height: 15vh;
}

#main1 {
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 60vh;
}

#foot1 {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 15vh;
}
p {
    font-size: 10px;
    max-width: 80%;
}
img {
    height: 40%;
    object-fit: cover;
}